* {
    box-sizing: border-box;
    font-family: 'Hind Siliguri',Helvetica,sans-serif;
    margin: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
p, span, i, b, div, input, label, li {
    font-size: 14px;
}
button {
    font-size: 16px;
    width: 140px;
    height: 32px;
    border-radius: 4px;
    border-style: none;
    color: #fff;
    background-color: #DD3326;
    cursor: pointer;
    text-transform: capitalize;
    margin: 0 0 0 8px;
}
button:hover,
button:focus {
    box-shadow: 2px 0px 4px 0px rgba(0,0,0,.4), 0px 2px 4px 0px rgba(0,0,0,.4);
    -moz-box-shadow:  2px 0px 4px 0px rgba(0,0,0,.4), 0px 2px 4px 0px rgba(0,0,0,.4);
    -webkit-box-shadow:  2px 0px 4px 0px rgba(0,0,0,.4), 0px 2px 4px 0px rgba(0,0,0,.4);
}
.shadow {
    box-shadow: 2px 0px 4px 0px rgba(0,0,0,.4), 0px 2px 4px 0px rgba(0,0,0,.4);
    -moz-box-shadow:  2px 0px 4px 0px rgba(0,0,0,.4), 0px 2px 4px 0px rgba(0,0,0,.4);
    -webkit-box-shadow:  2px 0px 4px 0px rgba(0,0,0,.4), 0px 2px 4px 0px rgba(0,0,0,.4);
}
header {
    padding: 0 16px;
    background-color: #DD3326;
    color: #fff;
    height: 72px;
}
header h1 {
    font-weight: 300;
    font-size: 40px;
    line-height: 72px;
    letter-spacing: -1px;
}
main {
    padding: 16px;
}
.quiz-pre-text,
.quiz-pre-text > p,
.header > p {
    margin: 0 0 8px 0;
}
.answer-actions,
.feedback-actions {
    text-align: right;
}
.question-title,
.feedback-title {
    font-size: 30px;
    color: #808281;
    letter-spacing: -1px;
}
div.dialog-backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,.5);
}
div.dialog {
    margin: 20vh auto;
    width: 70%;
    max-height: calc(60vh);
    background-color: rgba(255, 255,255, 1);
    border-radius: 4px;
    box-shadow: 2px 0px 4px 0px rgba(0,0,0,.4), 0px 2px 4px 0px rgba(0,0,0,.4);
    -moz-box-shadow: 2px 0px 4px 0px rgba(0,0,0,.4), 0px 2px 4px 0px rgba(0,0,0,.4);
    -webkit-box-shadow: 2px 0px 4px 0px rgba(0,0,0,.4), 0px 2px 4px 0px rgba(0,0,0,.4);
    padding: 16px;
}
.dialog .close-dialog-button {
    float: right;
    border-radius: 50%;
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 4px;
    color: rgba(0, 0, 0, 0.66);
}
.dialog .close-dialog-button:hover {
    background-color: rgba(0,0,0, .1);
}
.dialog > *:not(.close-dialog-button) {
    clear: both;
}
div.content {
    display: flex;
    flex-wrap: wrap;
}
div.answer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.answer-actions {
    margin: 8px 0 0 auto;
}
.feedback-list li {
    padding: 2px 0 2px 4px;
}
.result-score-text {
    display: flex;
}
.result-score-text i.material-icons {
    margin: auto 4px;
}
i.material-icons.wrong {
    color:red;
}
i.material-icons.correct {
    color: green;
}
i.material-icons.partial {
    color: orange;
}
div.answer-container input[type="checkbox"],
div.answer-container input[type="radio"] {
    width: 18px;
    height: 18px;
    margin: auto;
}
div.answer-container label.checkbox-label,
div.answer-container label.radio-label {
    width: calc(100% - 18px);
    padding: 0 0 0 8px;
    margin: 4px 0;
}
div.answer-container label.checkbox-label:hover,
div.answer-container label.radio-label:hover {
    background-color: rgba(0,0,0,.1);
}
/***************************************************************************/
/** Matching Type Styles **/
ul.dropzone {
    list-style-type: none;
    padding: 0;
    border-radius: 4px;
}
ul.dropzone li {
    outline: none;
}
ul.dropzone li:hover,
ul.dropzone li:focus,
ul.dropzone li.selected {
    background-color: rgba(0,0,0,.1);
}
li.questionNode img {
    display: block;
    margin: auto;
}
div.question-nodes-container,
div.answer-nodes-container {
    width: 50%;
}
div.question-nodes-container li {
    line-height: 14px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.4);
    margin: 0 8px 4px 0;
}
div.answer-nodes {
    margin-bottom: 8px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    outline: none;
}
div.answer-nodes:last-child {
    margin: 0;
}
div.answer-nodes h4 {
    padding: 4px;
    border-radius: 4px 4px 0 0;
    background-color: #DD3326;
    color: white;
    text-align: center;
}
div.answer-nodes ul li {
    line-height: 14px;
    padding: 4px 4px 8px 8px;
    border-bottom: 1px solid rgba(0,0,0,.4);
}
div.answer-nodes ul li:last-child {
    border: none;
}
div.answer-nodes i.material-icons,
div.question-nodes-container i.material-icons {
    width: 24px;
    margin: 8px auto;
    color: rgba(0,0,0,.4);
    display: none;
}
div.answer-nodes.empty i.material-icons,
div.question-nodes-container.empty i.material-icons {
    display: block;
}
div.question-nodes-container.empty {
    width: calc(50% - 8px);
    margin: 0 8px 0 0;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.4);
    display: flex;
}
div.question-nodes-container.empty i.material-icons {
    margin: auto;
    font-size: 40px;
    width: 40px;

}
.feedback-container.matching ul.feedback-list {
    padding: 0 0 0 8px;
    margin: 0 0 8px 0;
}
.feedback-container.matching li.feedback-item {
    display: flex;
}
li.feedback-item i.material-icons {
    font-weight: 700;
    margin: 0 4px;
}
li.feedback-item.correct i.material-icons {
    color: green;
}
li.feedback-item.wrong i.material-icons {
    color: red;
}
/** End Matching Type Styles **/

/*****************************************************************************/
/** Fill In The Blanks Type Styles **/
.fill-in-the-blanks-question {
    line-height: 36px;
}
.fill-in-the-blanks-question input[type="text"] {
    height: 24px;
    width: 120px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.4);
    padding: 0 4px;
    margin: 0 4px;
}
/** End Fill In The Blanks Type Styles **/
